*{
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    background:linear-gradient(#eeedf0f5,#eef0edf5);
    padding: 10px;
}
.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    height: 60px;
    background: #edeef0f5;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 13px;
    background: rgba(255, 0, 55, 0.658);
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
    color:#fff;
}
@media screen and (max-width: 608px) {
     .add{padding: auto;
    margin: auto;
}
.add>button{
    padding: 5px;
}
}










